<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <rewrite>
            <rules>
                <rule name="SWiSH KPI Reverse Proxy" stopProcessing="true">
                    <match url="(.*)" />
                    <action
                        type="Rewrite"
                        url="http://127.0.0.1:6010/{R:1}"
                        appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>

        <httpErrors existingResponse="PassThrough" />

    </system.webServer>
</configuration>